SUPABASE_URL=https://gpphjhrjsfhitkvrenuj.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwcGhqaHJqc2ZoaXRrdnJlbnVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNzIxNzUsImV4cCI6MjA5Mjg0ODE3NX0.9fdpFmVfVIE_SbdsgZrV4MQNFYFvBuN2p5gYowXeZJ8
OPENAI_API_KEY=sk-...
CHROMA_PATH=./chroma_db
